@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #45C4B0;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #012030;
}

h1{
    color: #45C4B0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #03045E;
}

button{
    padding: 9px 25px;
    background-color: #d6ebec;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #104b68;
}

.section {
    padding: 2em;
    color: #FFFFFF;
}

.aboutme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom,#2e73c8, #1e4d7c);
    padding: 20px;
}

.aboutme img{
    flex: 0 0 auto;
    margin-left: 310px;
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 200px;
    height: auto;
}

.forme{
    padding-left: 10%;
    font-size: 28px;
}

.aboutme p{
    max-width: 600px;
    padding-left: 10%;
    
}

.site {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    background: linear-gradient(to bottom, #1e4d7c, #0a2a4a);
}

.site img{
    width: 300px;
    border-radius: 50%;
    margin-right: 9%;

}

.site p{
    width: 37%;
    word-break: break-all;
    padding: 3%;
    font-size: medium;
    text-align: left;
}

.site h2 {
    text-align: right;
    padding-right: 6%;
    
  }

.career{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #0a2a4a, #0a2a4a);
    padding: 20px;
} 

.career p{
    max-width: 43%;
    word-break: break-all;
    padding: 3%;
    font-size: medium;
}
.career img{
    margin-left: 320px;
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 280px;
    height: auto;
}
.career h2{
    padding-left: 10%;
    font-size: 28px;
}

.projects a{
    display: flexbox;
    text-align: center;
    transform: translateY(40%);
    transform: translateX(-40%);
}

.projects img{
    max-width: 15%;
    float: right;
}
.projects{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #0a2a4a, #031633);
    
}

.projects h2{
    padding-left: 10%;
    font-size: 28px;
    transform: translateY(40%);
}

.projects p{
    width: 40%;
    word-break: break-all;
    padding: 3%;
    font-size: medium;
}

.controle{
    font-size: 100px;
}

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #031633, #021529);
}
 
.contact{
    text-align: center;
    min-height: 22vh;
    background-color: #02101f;
}

.contact h2{
    margin-bottom: 25px;
    font-size: 30px;
}
.contact-info i{
    font-size: 30px;
}
.contact-info{
    font-size: 15px;
    display: block;
    align-items: center;
    gap: 10px;   
}


.bi{
    font-size: 30px;
    letter-spacing: 20px;
    margin-top: 20px;
}

.gradient-container p {
    margin: 0;
    padding: 10px 0;
}


 /* Adicionando media queries para dispositivos móveis */
@media only screen and (max-width: 768px) {
    /* Header */
    header {
      padding: 20px 5%;
      flex-direction: column;
    }
    h1 {
      font-size: 18px;
    }
  
    /* Nav Links */
    .nav_links {
      flex-direction: column;
    }
    .nav_links li {
      padding: 10px 0;
    }
    .nav_links li a {
      font-size: 18px;
    }
  
    /* Section */
    .section {
      padding: 1em;
    }
  
    /* About Me */
    .aboutme {
      flex-direction: column;
    }
    .aboutme img {
      margin-left: 0;
      max-width: 100px;
    }
    .aboutme p {
      max-width: 100%;
      padding-left: 0;
    }
  
    .forme {
      padding-left: 0;
      font-size: 20px;
    }
  
    .projects {
      flex-direction: column;
    }
    .projects img {
      width: 300px;
    }
    .projects p {
      width: 100%;
      padding: 10px 0;
    }
    .projects a {
      transform: translateX();
    }
  
    
    .site {
      flex-direction: column;
    }
    .site img {
      width: 160px;
      margin-right: 0;
    }
    .site p {
      width: 100%;
      padding: 10px 0;
    }
  

    .career {
      flex-direction: column;
    }
    .career img {
      margin-left: 0;
      width: 150px;
    }
    .career p {
      max-width: 100%;
      padding: 10px 0;
    }
  
    .contact {
      text-align: center;
      padding: 20px 0;
    }
    .contact h2 {
      margin-bottom: 15px;
      font-size: 20px;
    }
  
    /* Controle */
    .controle {
      font-size: 50px;
    }
  
    /* Bi */
    .bi {
      font-size: 20px;
      letter-spacing: 10px;
      margin-top: 10px;
    }
  
    /* Gradient Container */
    .gradient-container p {
      margin: 0;
      padding: 5px 0;
    }
  }